Bottleneck @ file:///work/ci_py311/bottleneck_1676827011612/work
cffi @ file:///work/ci_py311/cffi_1676822533496/work
contourpy @ file:///work/ci_py311/contourpy_1676827066340/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1694629184119/work
fonttools==4.25.0
freelunch==0.0.15
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
gpytorch @ file:///home/conda/feedstock_root/build_artifacts/gpytorch_1691793026646/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
jaxtyping @ file:///home/conda/feedstock_root/build_artifacts/jaxtyping_1692500858522/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
kiwisolver @ file:///work/ci_py311/kiwisolver_1676827230232/work
linear-operator @ file:///home/conda/feedstock_root/build_artifacts/linear_operator_1693252093414/work
MarkupSafe @ file:///work/ci_py311/markupsafe_1676823507015/work
matplotlib @ file:///croot/matplotlib-suite_1693812469450/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///croot/numpy_and_numpy_base_1695830428084/work/dist/numpy-1.26.0-cp311-cp311-linux_x86_64.whl#sha256=5127fb5a9f3ce0070827eaa872d4c5856fcd404c7b7efee222553a9477fef879
packaging @ file:///croot/packaging_1693575174725/work
pandas @ file:///croot/pandas_1692289311655/work
Pillow @ file:///croot/pillow_1695134008276/work
pluggy @ file:///work/ci_py311/pluggy_1676822818071/work
ply==3.11
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyparsing @ file:///work/ci_py311/pyparsing_1677811559502/work
PyQt5-sip==12.11.0
pytest @ file:///croot/pytest_1690474690005/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///croot/pytz_1695131579487/work
scikit-learn @ file:///croot/scikit-learn_1684954695550/work
scipy @ file:///croot/scipy_1691606680890/work/dist/scipy-1.11.1-cp311-cp311-linux_x86_64.whl#sha256=7c20d23747f75d6442c463d27ec9933a99e1e3c0c35e6ac4b25b210de87a7538
sip @ file:///work/ci_py311/sip_1676825117084/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sympy @ file:///work/ci_py311_2/sympy_1679339311852/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
torch @ file:///croot/pytorch_1686931851744/work
tornado @ file:///croot/tornado_1690848263220/work
typeguard @ file:///home/conda/feedstock_root/build_artifacts/typeguard_1658932097418/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
